### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os 

# File to Load (Remember to Change These)
schools_file = os.path.join("Resources/schools_complete.csv")
students_file = os.path.join("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas Data Frames
schools_df= pd.read_csv(schools_file)
students_df= pd.read_csv(students_file)

# rename the schools
schools_df.rename(columns = {'name': 'school_name'}, inplace = True)

# Merge data for schools
merged_df = students_df.merge(schools_df, how = 'left', on = 'school_name')

In [2]:
#DISTRICT SUMMERY
# Create Unique school name
unique_school_name = schools_df['school_name'].unique()

# Counting the number of schools
school_count = len(unique_school_name)
#school_count----> print to verify

# District students count
dist_student_count = schools_df['size'].sum()
#dist_student_count----> print to verify

#verification for the total number of students
total_student_rec = students_df['student_name'].count()
#total_student_rec----> print to verify

# Total Budget count
total_budget  = schools_df['budget'].sum()
#total_budget----> print to verify

#Calculate average math score
average_math_score = students_df['math_score'].mean()
#average_math_score----> print to verify

#Calculate average math score
average_reading_score = students_df['reading_score'].mean()
#average_reading_score----> print to verify

# (% Passing Math) Calculating the number of students passing math 
num_passing_math = students_df.loc[students_df['math_score']>= 70]['math_score'].count()
perc_math_pass = num_passing_math/total_student_rec*100
#perc_math_pass

# (% Passing Reading) Calculating the number of students passing reading
num_passing_reading = students_df.loc[students_df['reading_score']>=70]['reading_score'].count()
perc_reading_pass = num_passing_reading/total_student_rec*100
#perc_reading_pass----> print to verify

# Overall Passing rate (Average of the above two)
overall_pass = ((perc_math_pass + perc_reading_pass)/2)
#overall_pass----> print to verify

In [3]:
# Create the Dataframe using dictionary
district_summery = pd.DataFrame ({"Totoal Scools" : [school_count],
                               "Total Students" : [dist_student_count],
                               "Total Budget" : [total_budget],
                               "Average Math Score" : [average_math_score],
                               "Average Reading Score" : [average_reading_score],
                               "% Passing Math" : [perc_math_pass],
                               "% Passing Reading" : [perc_reading_pass],
                               "% Overall Passing rate" : [overall_pass]})
#Formatting
district_summery.style.format({"Total Students" :'{:,}',
                               "Total Budget":'{:,}',
                               "Average Math Score" : '{:.2f}',
                               "Average Reading Score": '{:.2f}',
                               "% Passing Math" : '{:.2f}',
                               "% Passing Reading": '{:.2f}',
                               "% Overall Passing rate": '{:.2f}',
                              })

In [4]:
# Groups by school---> School Name
by_school = merged_df.set_index('school_name').groupby(['school_name'])
#by_school_df---->print to verify

# School Type
school_types = schools_df.set_index('school_name')['type']

#Total number of students per school
students_per_school = by_school['Student ID'].count()
# students_per_school---->print to verify

# Total School Budget
school_budget = schools_df.set_index('school_name')['budget']

# Calculate per students budget
per_student_budget = schools_df.set_index('school_name')['budget']/schools_df.set_index('school_name')['size']
#per_student_budget---->print to verify

# Calculating Average math and reading scores
ave_math_score = by_school['math_score'].mean()
#ave_math_score---->print to verify
ave_reading_score = by_school['reading_score'].mean()
#ave_reading_score---->print to verify

#Calculating the passing percent for Math and Reading (% Passing Math and % Passing Reading)
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('school_name')['Student ID'].count()/students_per_school
# pass_math---->print to verify

pass_reading = merged_df[merged_df['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/students_per_school
#pass_reading---->print to verify

# Calculating Overall Passing Rate
overall_pass_school = (pass_math + pass_reading)/2
#overall_pass_school---->print to verify

#School Summery
school_summery =  pd.DataFrame ({ 
    "School Type" : school_types,
    "Total Students" : students_per_school,
    "Total School Budget" :school_budget,
    "Per Student Budget" : per_student_budget,
    "Average Math Score" : ave_math_score, 
    "Average Reading Score" :ave_reading_score,
    "% Passing Math" : pass_math,
    "% Passing Reading" :pass_reading,
    "% Overall Passing Rate" : overall_pass_school})

school_summery.style.format({
                            "Total Students": '{:,}',
                            "Total School Budget":'{:,}',
                            "Per Student Budget": '{:.0f}',
                            "Average Math Score": '{:.2%}', 
                            "Average Reading Score": '{:.2%}',
                            "% Passing Math": '{:.2%}',
                            "% Passing Reading": '{:.2%}',
                            "% Overall Passing Rate": '{:.2%}' })

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [5]:
# Sort Values by passing rate and then print only top 5 schools
top_5 = school_summery.sort_values("% Overall Passing Rate", ascending = False)
top_5.head().style.format({"Total Students": '{:,}',
                            "Total School Budget":'{:,}',
                            "Per Student Budget": '{:.0f}',
                            "% Passing Math": '{:.2%}',
                            "% Passing Reading": '{:.2%}',
                            "% Overall Passing Rate": '{:.2%}' })

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [6]:
# Sort Values by passing rate and then print only bottom 5 schools from worst to best
bottom_5 = top_5.tail()
bottom_5 = school_summery.sort_values("% Overall Passing Rate")
bottom_5.head().style.format({"Total Students": '{:,}',
                            "Total School Budget":'{:,}',
                            "Per Student Budget": '{:.0f}',
                            "% Passing Math": '{:.2%}',
                            "% Passing Reading": '{:.2%}',
                            "% Overall Passing Rate": '{:.2%}' })

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [7]:
#Create a table that lists the Math Scores for students of each grade level (9th, 10th, 11th, 12th) at each school.
ninth_math = students_df.loc[students_df['grade'] == '9th'].groupby('school_name')['math_score'].mean()
tenth_math = students_df.loc[students_df['grade'] == '10th'].groupby('school_name')['math_score'].mean()
eleventh_math = students_df.loc[students_df['grade'] == '11th'].groupby('school_name')['math_score'].mean()
twelfth_math = students_df.loc[students_df['grade'] =='12th'].groupby('school_name')['math_score'].mean()

#Creating Data Fram using Disctionaries
math_scores = pd.DataFrame({"9th" : ninth_math, "10th" : tenth_math, "11th" : eleventh_math, "12th" : twelfth_math })

# Rename the columns
math_scores = math_scores[['9th', '10th', '11th', '12th']]

# Setting the index
math_scores.index.name = "School"

# Formatting
math_scores.style.format({'9th': '{:.1f}','10th': '{:.1f}','11th': '{:.1f}','12th': '{:.1f}'})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [8]:
#Create a table that lists the Math Scores for students of each grade level (9th, 10th, 11th, 12th) at each school.
ninth_reading = students_df.loc[students_df['grade'] == "9th"].groupby('school_name')["reading_score"].mean()
tenth_reading = students_df.loc[students_df['grade'] == "10th"].groupby('school_name')["reading_score"].mean()
eleventh_reading = students_df.loc[students_df['grade'] == "11th"].groupby('school_name')["reading_score"].mean()
twelfth_reading = students_df.loc[students_df['grade'] == "12th"].groupby('school_name')["reading_score"].mean()

#Creating Data Fram using Disctionaries
reading_scores = pd.DataFrame({"9th" : ninth_reading, "10th" : tenth_reading, "11th" : eleventh_reading, "12th" : twelfth_reading })

# Rename the column
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]

# Setting the index
reading_scores.index.name = "School"

# Formatting
reading_scores.style.format({'9th': '{:.1f}','10th': '{:.1f}','11th': '{:.1f}','12th': '{:.1f}'})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [9]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [13]:
#group by spending
by_spending = merged_df.groupby("spending_bins")

# calculations for average of math and reading & passing rates for math and reading
avg_math = by_spending['math_score'].mean()
avg_reading = by_spending['reading_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
overall = (avg_math + avg_reading)/2*100

# Creating Data Frame
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_reading,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall})

#reorder columns
scores_by_spend = scores_by_spend[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"]]

scores_by_spend.index.name = "Per Student Budget"
scores_by_spend = scores_by_spend.reindex(group_names)

#formating
scores_by_spend.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}',
                              '% Passing Math': '{:.1%}',
                              '% Passing Reading':'{:.1%}', 
                              '% Overall Passing Rate': '{:.1%}'})

KeyError: 'spending_bins'

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

merged_df['spending_bins'] = pd.cut(merged_df['budget']/merged_df['size'], bins, labels = group_names)

In [ ]:
 # create size bins
    
bins = [0, 999, 1999, 99999999999]
group_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (>2000)"]
merged_df['size_bins'] = pd.cut(merged_df['size'], bins, labels = group_name)

#group by spending
by_size = merged_df.groupby('size_bins')

#calculations       
avg_math = by_size[ math_score ].mean()
avg_read = by_size['math_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
overall = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
# df build
scores_by_size = pd.DataFrame({
    'Average Math Score': avg_math,
    'Average Reading Score': avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    'Overall Passing Rate': overall
})
#reorder columns
scores_by_size = scores_by_size[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]
scores_by_size.index.name = "Total Students"
scores_by_size = scores_by_size.reindex(group_name)
#formating
scores_by_size.style.format({'Average Math Score': '{:.1f}', 'Average Reading Score': '{:.1f}',
'% Passing Math': '{:.1%}',
'% Passing Reading':'{:.1%}', 'Overall Passing Rate': '{:.1%}'})

## Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
# group by type of school
by_type = merged_df.groupby("type")

#calculations
avg_math = by_type['math_score'].mean()
avg_read = by_type['math_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
overall = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('type')['Student ID'].count()/by_type['Student ID'].count()

# Create the Data Frame
scores_by_type = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall})

#reorder columns
scores_by_type = scores_by_type[[
    'Average Math Score',
     'Average Reading Score',
    '% Passing Math',
    '% Passing Reading',
    '% Overall Passing Rate']]

scores_by_type.index.name = "Type of School"
#formating

scores_by_type.style.format({'Average Math Score': '{:.1f}', 
                             'Average Reading Score': '{:.1f}',
                             '% Passing Math': '{:.1%}',
                             '% Passing Reading':'{:.1%}', 
                             '% Overall Passing Rate': '{:.1%}'})